<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{site_title}}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="robots" content="noindex, nofollow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link href="index.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/mml-chtml.js">
    </script>
</head>

<body>
<section class="header-container">
    <div style="display:flex; justify-content:space-between; align-items:flex-end;">
        <div>
            <a href="https://github.com/AlongWY/ArxivDaily" style="text-decoration: none;">
                <div class="header-title">
                    <span class="header-title-preffix">AlongWY</span>//ArxivDaily
                </div>
            </a>
        </div>

        <div class=icons>
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox"/>
                <i id="theme-icon" class="ri-moon-line" style="font-size: 32px" rel="noopener noreferrer"></i>
            </label>
        </div>
    </div>
</section>

{{#each days}}
    <section class="day-container">
        <div class="date">
            <time datetime="{{datetime}}">{{time_format datetime "%F"}}</time>
        </div>
        {{#each channels}}
            <article>
                <details>
                    <Summary>
                        {{#each dublin_core_ext.subjects as |subject|}}
                            {{ subject }}
                        {{/each}}
                    </Summary>
                    <div class="details-content">
                        {{#each items}}
                            <article>
                                <details class="article-expander">
                                    <summary class="article-expander-title">
                                        {{highlight_title title dublin_core_ext.creators}}
                                    </summary>
                                    <div class="article-authors">
                                        <a href="{{link}}">
                                            <i class="ri-links-line"></i>
                                        </a>
                                        <a href="{{download link}}">
                                            <i class="ri-file-paper-2-line"></i>
                                        </a>
                                        {{highlight_author dublin_core_ext.creators}}
                                    </div>
                                    <div class="article-summary-box-inner">
                                        <span>{{latex_render description}}</span>
                                    </div>
                                </details>
                            </article>
                        {{/each}}
                    </div>
                </details>
            </article>
        {{/each}}
    </section>
{{/each}}

</body>

<footer>
    <div>
        <time id="build-timestamp" datetime="{{build_time}}">
            <a href="https://github.com/AlongWY/ArxivDaily/actions">
                <img id="build-timestamp-badge"
                     src="https://img.shields.io/github/workflow/status/alongwy/arxivdaily/Rss%20Feed?label={{build_time
                    "%F %T %Z"}}&style=for-the-badge"
                alt="{{build_time "%F %T %Z"}}">
            </a>
        </time>
    </div>
</footer>
<script src="index.js"></script>
</html>
