<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{site_title}}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="robots" content="noindex, nofollow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link href="index.css" rel="stylesheet"/>
</head>

<body>

<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
<section class="header-container">
    <div style="display:flex; justify-content:space-between; align-items:flex-end;">
        <div>
            <a href="https://github.com/AlongWY/ArxivDaily" style="text-decoration: none;">
                <div class="header-title">
                    <span class="header-title-preffix">AlongWY</span>//ArxivDaily
                </div>
            </a>
        </div>

        <div class=icons>
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox"/>
                <i class="lni lni-32 lni-sun" rel="noopener noreferrer"></i>
            </label>
        </div>
    </div>
</section>

{{#each days}}
    <section class="day-container">
        <div class="date">{{date}}</div>

        {{#each channels}}
            <article>
                <details>
                    <Summary>
                        {{#each dublin_core_ext.subjects as |subject|}}
                            {{ subject }}
                        {{/each}}
                    </Summary>
                    <div class="details-content">
                        {{#each items}}
                            <article>
                                <details class="article-expander">
                                    <summary class="article-expander-title">
                                        {{highlight_title title dublin_core_ext.creators}}
                                    </summary>
                                    <div class="article-authors">
                                        {{highlight_author dublin_core_ext.creators}}
                                    </div>
                                    <a class="article-summary-link article-summary-box-outer" href="{{link}}">
                                        <div class="article-summary-box-inner">
                                            <span>{{description}}</span>
                                        </div>
                                    </a>
                                </details>
                            </article>
                        {{/each}}
                    </div>
                </details>
            </article>
        {{/each}}
    </section>
{{/each}}

</body>

<footer>
    <div>
        <time id="build-timestamp" datetime="{{build_time}}">
            <a href="https://github.com/AlongWY/ArxivDaily/actions">
                <img src="https://img.shields.io/github/workflow/status/alongwy/arxivdaily/Rss%20Feed?label={{build_time
                    "%F %T %Z"}}&style=for-the-badge"
                alt="{{build_time "%F %T %Z"}}">
            </a>
        </time>
    </div>
</footer>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.13/dist/katex.min.css"
      integrity="sha384-RZU/ijkSsFbcmivfdRBQDtwuwVqK7GMOw6IMvKyeWL2K5UAlyp6WonmB8m7Jd0Hn" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.13/dist/katex.min.js"
        integrity="sha384-pK1WpvzWVBQiP0/GjnvRxV4mOb0oxFuyRxJlk6vVw146n3egcN5C925NCP7a7BY8"
        crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.13/dist/contrib/auto-render.min.js"
        integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"
        onload="render(body)"></script>
<script>
    /* Exapand/Collapse with TAB key */
    var expanded = false;
    document.onkeydown = function (e) {
        if (e.keyCode === 9) {
            expanded = !expanded;
            document.querySelectorAll("details").forEach(detail => detail.open = expanded);
            return false;
        }
    };

    /* Switch Theme */
    const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');

    function switchTheme(e) {
        if (e.target.checked) {
            document.documentElement.setAttribute('data-theme', 'light');
            localStorage.setItem('theme', 'light'); //add this
        } else {
            document.documentElement.setAttribute('data-theme', 'dark');
            localStorage.setItem('theme', 'dark'); //add this
        }
    }

    toggleSwitch.addEventListener('change', switchTheme, false);
    const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
    if (currentTheme) {
        document.documentElement.setAttribute('data-theme', currentTheme);
        if (currentTheme === 'light') {
            toggleSwitch.checked = true;
        }
    }

    // Render latex code
    function render(body) {
        renderMathInElement(body, {
            delimiters: [
                {left: "$$", right: "$$", display: true},
                {left: "${", right: "}", display: false},
                {left: '$', right: '$', display: false},
                {left: "\\(", right: "\\)", display: false},
                {left: "\\begin{equation}", right: "\\end{equation}", display: true},
                {left: "\\begin{align}", right: "\\end{align}", display: true},
                {left: "\\begin{alignat}", right: "\\end{alignat}", display: true},
                {left: "\\begin{gather}", right: "\\end{gather}", display: true},
                {left: "\\begin{CD}", right: "\\end{CD}", display: true},
                {left: "\\{", right: "\\}", display: false},
                {left: "\\[", right: "\\]", display: true}
            ],
            throwOnError: false
        });
    }
</script>

</html>
